
.features {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin: 3rem auto 1.5rem;
}

.featureSvg svg {
  width: 100%;
  height: 100%;
  fill: white;
  stroke: white;
}
