/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
.footer,
.navbar {
    background-image: linear-gradient(to right, #d50006, #502479);
}

.table-of-contents__left-border{
    font-size: 0.9rem;
}

*{
    font-family: 'BrixSans', sans-serif;
}
p{

    font-size: 1.2rem;
}

.hero__subtitle,
.hero__title{
    color: white;
}

.heroBanner_qdFl{
    background-color: #37333a;
}

body{
    background-color: #2a282e;
}

.footer_lower_link,
.footer__link-item:hover,
.footer-icon:hover {
    fill: #bdb9b9;
    stroke: #bdb9b9;
    color: #bdb9b9;
    animation-duration: 200ms;
}

.footer_lower_link {
    color: white;
    padding-left: 25px;
}

.footer-icon {
    fill: white;
    stroke: white;
    width: 30px;
    margin-right: 20px;
}

.footer__title {
    font-size: 1.2rem;
}

.footer__link-item {
    font-size: 1.2rem;
}

.navbar__title,
.navbar__item {
    color: white !important;
}

.navbar__title:hover,
.navbar__item:hover {
    color: #bcbcbc !important;
}

.main-wrapper,
.docMainContainer_TBSr {
    min-height: 96vh;
}

/* You can override the default Infima variables here. */
:root {
    /* FFHS Red Palette */
    --ifm-color-primary: #d50006;
    --ifm-color-primary-dark: #bf0005;
    --ifm-color-primary-darker: #b30005;
    --ifm-color-primary-darkest: #940004;
    --ifm-color-primary-light: #e01a1f;
    --ifm-color-primary-lighter: #e63338;
    --ifm-color-primary-lightest: #f0666a;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #ff2a2f;
    --ifm-color-primary-dark: #e60005;
    --ifm-color-primary-darker: #cc0005;
    --ifm-color-primary-darkest: #a30004;
    --ifm-color-primary-light: #ff4d51;
    --ifm-color-primary-lighter: #ff666a;
    --ifm-color-primary-lightest: #ff999c;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/*FONT*/
@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansRegular.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansRegular.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansRegular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansRegular-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansRegular-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansRegular-Italic.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansBold.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansBold.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansBold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansBold-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansBold-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansBold-Italic.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansBlack.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansBlack.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansBlack.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansBlack-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansBlack-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansBlack-Italic.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansMedium.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansMedium.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansMedium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansMedium-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansMedium-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansMedium-Italic.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansLight.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansLight.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansLight.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansLight-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansLight-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansLight-Italic.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansExtraLight.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansExtraLight.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansExtraLight.eot') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrixSans';
    src: url('/fonts/BrixSans/ttf/BrixSansExtraLight-Italic.ttf') format('truetype'),
    url('/fonts/BrixSans/woff/BrixSansExtraLight-Italic.woff') format('woff'),
    url('/fonts/BrixSans/eot/BrixSansExtraLight-Italic.eot') format('embedded-opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
